.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board-status-id {
  color: #aaa;
  margin-right: 5px;
}

.board-status-ready-tag {
  font-weight: bold;
  color: #060;
  margin-left: 5px;
}

.board-ready-dot {
  height: .5em;
  width: .5em;
  background-color: #0a0;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.board-status-busy-tag {
  font-weight: bold;
  color: #660;
  margin-left: 5px;
}

.board-busy-dot {
  height: .5em;
  width: .5em;
  background-color: #aa0;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.v-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.board-status-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.board-status-no-boards {
  color: #c00;
}

.select-disabled {
  pointer-events: none;
  background-color: #ccc;
}

.error-text-submission {
  margin-left: 15px;
  color: #c00;
}

.submission-spinner {
  margin-left: 15px;
}

.kamajidev-card {
  margin-left: 10px;
  color: #afa;
  font-weight: bold;
}

.nav-left-pad {
  margin-left: 10px;
}

.code-text {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 0.8em;
}

.console-output-line {
  margin-right: 5px;
  color: #444;
}

.cursor-pointer {
  cursor: pointer;
}

.job-raw-output-container {
  height: 12em;
  max-height: 12em !important;
  overflow-y:scroll;
}

.extend-job-raw-output {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -125%);
  text-align: center;
  color: #333;
  transition: color 0.1s;
  font-size: 0.75em;
}

.no-job-raw-output {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c9c9c9;
}

.badge {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8em;
  border-radius: 5px;
  margin-right: 5px;
}

.badge-success {
  background-color: #28a745;
  color: white !important;
}

.badge-pending {
  background-color: #17a2b8;
  color: white !important;
}

.badge-error {
  background-color: #dc3545;
  color: white !important;
}

.blurred-text {
  color: transparent !important;
  text-shadow: 0 0 8px #fff;
}

.blurred-text-gray {
  color: transparent !important;
  text-shadow: 0 0 8px #555;
}

.badge-tests {
  background-color: #9122e0;
  color: white !important;
}

.badge-queued {
  background-color: #ccc;
  color: black !important;
}

.badge-progress {
  background-color: #ffc107;
  color: black !important;
}

.job-data-small {
  font-size: 0.6em;
  color: #444;
  margin-bottom: 2px;
}

.extend-job-raw-output:hover {
  color: #ccc;
}